.App {
  text-align: center;
}

h1 { 
  font-family: 'Courier New', Courier, monospace;
  font-size: 45px;
  color:  #242424e8;
  text-align: center;
}

h2 { 
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  color:  #242424e8;
  text-align: center;
}

h4 {
  color:  #242424e8;
}

li {
  text-decoration: none;
}

body{
  background: #1D976C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #a9f8c67a, #29977198);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #93F9B9, #1D976C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header{
  background-color:#edf1ecb9;
  text-align: center;
  padding-bottom: 5px;
}

.Questioninput{
  display: flex;
  font-size: 20px;
  margin-left: 40px;
}

.Navhome{
  font-size: 25px;
  display: flex;
  margin-top: -18px;
  min-height: 5vh;
  list-style-type: none;
  justify-content: space-between;
  margin-right: 18px;
  margin-left: -5px;
}

.homeimages{
  border-radius: 50%;
  max-width: 20rem;
}

.row {
  text-align: center;
}

.homeimgtext{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.column {
  display: inline-block;
  position: relative;
  text-align: center;
  margin: 50px;
  max-width: 20rem;
}

.column:hover .homeimages{
  opacity: .2;
  transition: 0.5s;
}

.column:hover .homeimgtext {
 display: block;
 text-emphasis: bold;
 font-size: 22px;
 font-family: 'Courier New', Courier, monospace;
}

.Maintitle {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 46;
  padding-top: 30px;
}

.Linkstitle {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  padding: 15px;
}

.Links {
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.bottomtext {
  font-size: 55px; 
  padding-top: 30px;
  font-family: fantasy;
}

.MissionStatementTitle{
  text-align: center;
  font-size: 30px;
  font-family: initial ;
  padding-top: 30px;
}

.statement{
  text-align: center;
  font-size: 26px;
  font-family: 'Courier New', Courier, monospace;
  padding-top: 10px;
  padding-right: 30px;
  padding-left: 30px;
}

#quote{
  font-family: initial;
  text-align: center;
  font-size: 35px;
  padding-top: 50px;
}

.bottompageimgs{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 150px;
  margin-top: -110px;
}

.bottompageimgs img{
  height: 250px;
  width: 250px;
}

.Pagetitle{
  margin-top: -50px;
  font-size: 50px;
}

.CalculatorQ{
  text-align: center;
}

.CalcDirections{
  text-align: center;
  font-size: 28px;
  font-family: 'Courier New', Courier, monospace;
  margin-top: -20px;
}

.Calctitle{
  margin-top: -30px;
  font-size: 38px;
  font-family: 'Courier New', Courier, monospace;
}


.tips-li {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  color:  #242424e8;
  margin-left: 30px;
}

.calc-button {
  background-color: white;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  padding: 10px 20px;
  border-radius: 20px;
  outline: none;
  border: none;
  margin: 30px;
}

.calc-button:hover {
  cursor: pointer;
}